In [1]:
import pandas as pd
import numpy as np

In [2]:
def change_index(df, index):
    df.index = df[index]
    df.drop(index, axis=1, inplace=True)
    return df

In [3]:
def filter_submissions(df):
    df = change_index(df, "id")
    df = df.loc[m4_info.index]
    return df

In [4]:
def smape(a, b):
    a = np.reshape(a, (-1,))
    b = np.reshape(b, (-1,))
    return np.mean(2.0 * np.abs(a - b) / (np.abs(a) + np.abs(b))).item()


def mase(insample, y_test, y_hat_test, freq):
    y_hat_naive = []
    for i in range(freq, len(insample)):
        y_hat_naive.append(insample[(i - freq)])

    masep = np.mean(abs(insample[freq:] - y_hat_naive))

    return np.mean(abs(y_test - y_hat_test)) / masep


def all_metrics(insample, y_test, y_hat_test, y_hat_naive, freq):
    m1 = smape(y_test, y_hat_test)
    m2 = mase(insample, y_test, y_hat_test, freq)
    
    m1_naive = smape(y_test, y_hat_naive)
    m2_naive = mase(insample, y_test, y_hat_naive, freq)
    
    owa = (m1/m1_naive + m2/m2_naive)/2
    return [m1, m2, owa]

In [5]:
def store_metrics(data, index, name):
    data = pd.DataFrame(data, columns=["SMAPE", "MASE", "OWA"])
    data.index = index
    data.to_csv(f"./Metrics/{name}.csv")

# Stores the M4 info .csv file

In [6]:
m4_info = pd.read_csv("https://raw.githubusercontent.com/Mcompetitions/M4-methods/master/Dataset/M4-info.csv")

In [7]:
m4_info = change_index(m4_info, "M4id")

In [8]:
m4_info = m4_info[m4_info.category=="Industry"]
m4_info.drop("category", axis=1, inplace=True)
m4_info = m4_info[(m4_info.SP=="Yearly")|(m4_info.SP=="Quarterly")|(m4_info.SP=="Monthly")]
m4_info.to_csv("./Dataset/M4-info.csv")

# Stores the training data

In [9]:
yearly_train = pd.read_csv("https://raw.githubusercontent.com/Mcompetitions/M4-methods/master/Dataset/Train/Yearly-train.csv")
yearly_train

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V827,V828,V829,V830,V831,V832,V833,V834,V835,V836
0,Y1,5172.1,5133.5,5186.9,5084.6,5182.0,5414.3,5576.2,5752.9,5955.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Y2,2070.0,2104.0,2394.0,1651.0,1492.0,1348.0,1198.0,1192.0,1105.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Y3,2760.0,2980.0,3200.0,3450.0,3670.0,3850.0,4000.0,4160.0,4290.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Y4,3380.0,3670.0,3960.0,4190.0,4440.0,4700.0,4890.0,5060.0,5200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Y5,1980.0,2030.0,2220.0,2530.0,2610.0,2720.0,2970.0,2980.0,3100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22995,Y22996,470.0,500.0,572.0,572.0,609.0,664.0,795.0,841.0,927.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22996,Y22997,4660.0,4220.0,4790.0,8800.0,10600.0,25720.0,29860.0,23960.0,15220.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22997,Y22998,688.8,462.5,472.4,495.1,450.1,385.9,467.0,633.8,699.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22998,Y22999,147.0,379.0,369.0,149.0,118.0,194.0,261.0,411.0,644.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22999,Y23000,6850.0,6860.0,7020.0,7150.0,7240.0,7390.0,7330.0,7520.0,7770.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
yearly_train = change_index(yearly_train, "V1")
yearly_train = yearly_train.loc[m4_info[m4_info.SP=="Yearly"].index,:]
yearly_train.to_csv("./Dataset/Train/Yearly-train.csv")

In [11]:
quarterly_train = pd.read_csv("https://raw.githubusercontent.com/Mcompetitions/M4-methods/master/Dataset/Train/Quarterly-train.csv")
quarterly_train

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V858,V859,V860,V861,V862,V863,V864,V865,V866,V867
0,Q1,7407.412314,7528.566074,7374.709225,7395.514848,7654.007989,7686.847835,7578.190743,7904.376716,7744.049254,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Q2,7552.454619,7541.774571,7466.568336,7550.333354,8067.131522,8063.701017,7901.029312,8155.387316,8031.010328,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Q3,8463.842193,8366.102309,8269.502192,8256.985325,8726.917647,8733.243591,8664.260087,8717.394568,8662.139727,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Q4,8498.941194,8409.926442,8391.441381,8292.860310,8798.521118,8753.990355,8740.062556,8695.540651,8627.447488,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Q5,1835.000000,2322.000000,3059.000000,1883.000000,1896.000000,2060.000000,2764.000000,1743.000000,1561.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23995,Q23996,2400.000000,2370.000000,2310.000000,2370.000000,2420.000000,2420.000000,2310.000000,2340.000000,2370.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23996,Q23997,6920.000000,6790.000000,6790.000000,6900.000000,6900.000000,7000.000000,6770.000000,6770.000000,6880.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23997,Q23998,6920.000000,6790.000000,6790.000000,6900.000000,6900.000000,7000.000000,6770.000000,6770.000000,6880.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23998,Q23999,471.250000,519.550000,582.860000,632.200000,654.600000,673.713100,718.077300,734.126900,855.044400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23999,Q24000,1340.348320,1604.664712,1592.222544,1900.776352,1776.742766,1988.239600,2213.949183,2193.168375,2109.802704,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
quarterly_train = change_index(quarterly_train, "V1")
quarterly_train = quarterly_train.loc[m4_info[m4_info.SP=="Quarterly"].index,:]
quarterly_train.to_csv("./Dataset/Train/Quarterly-train.csv")

In [13]:
monthly_train = pd.read_csv("https://raw.githubusercontent.com/Mcompetitions/M4-methods/master/Dataset/Train/Monthly-train.csv")
monthly_train

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V2786,V2787,V2788,V2789,V2790,V2791,V2792,V2793,V2794,V2795
0,M1,8000.0,8350.0,8570.0,7700.0,7080.0,6520.0,6070.0,6650.0,6830.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,M2,2440.0,2490.0,2710.0,2290.0,1960.0,1990.0,1960.0,2530.0,2640.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,M3,2670.0,2590.0,2784.0,2816.0,2888.0,2906.0,2839.0,2860.0,2798.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,M4,7264.0,7215.0,7022.0,7040.0,6966.0,6984.0,7025.0,7082.0,6956.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,M5,4210.0,4290.0,4250.0,4320.0,4320.0,4330.0,4320.0,4260.0,4220.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47995,M47996,9964.0,7212.0,7858.0,8493.0,8203.0,8362.0,7238.0,7357.0,8642.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47996,M47997,1696.6,1627.2,1465.4,1672.8,1760.1,1974.8,1733.7,1898.0,1952.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47997,M47998,5900.0,6000.0,6280.0,6100.0,5410.0,5320.0,5130.0,5330.0,5810.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47998,M47999,4660.0,4980.0,5060.0,5090.0,4790.0,4840.0,4640.0,4770.0,4940.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47999,M48000,6070.0,6150.0,6350.0,6130.0,5560.0,5340.0,5320.0,5500.0,5840.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
monthly_train = change_index(monthly_train, "V1")
monthly_train = monthly_train.loc[m4_info[m4_info.SP=="Monthly"].index,:]
monthly_train.to_csv("./Dataset/Train/Monthly-train.csv")

# Stores the testing data

In [15]:
yearly_test = pd.read_csv("https://raw.githubusercontent.com/Mcompetitions/M4-methods/master/Dataset/Test/Yearly-test.csv")
yearly_test

           V1      V2      V3      V4      V5       V6       V7
0          Y1  7290.2  7392.6  7527.6  7594.8   7720.7   7823.2
1          Y2  1598.0  1366.0  1288.0  1148.0   1139.0   1062.0
2          Y3  8440.0  8660.0  8780.0  8830.0   8990.0   9230.0
3          Y4  9540.0  9790.0  9940.0  9940.0  10110.0  10400.0
4          Y5  6840.0  7420.0  7570.0  8010.0   8240.0   8730.0
...       ...     ...     ...     ...     ...      ...      ...
22995  Y22996  2946.0  3072.0  3387.0  3608.0   3649.0   3594.0
22996  Y22997  2510.0  1640.0  3020.0  4350.0   1810.0   2310.0
22997  Y22998   708.6  1049.2  1542.8  2390.3   2108.4   2283.3
22998  Y22999  6058.0  3864.0  3280.0  1924.0   1876.0   1596.0
22999  Y23000  9010.0  9320.0  9560.0  9720.0  10000.0  10090.0

[23000 rows x 7 columns]

In [16]:
yearly_test = change_index(yearly_test, "V1")
yearly_test = yearly_test.loc[m4_info[m4_info.SP=="Yearly"].index,:]
yearly_test.to_csv("./Dataset/Test/Yearly-test.csv")

In [17]:
quarterly_test = pd.read_csv("https://raw.githubusercontent.com/Mcompetitions/M4-methods/master/Dataset/Test/Quarterly-test.csv")
quarterly_test

,V1,V2,V3,V4,V5,V6,V7,V8,V9
0,Q1,6790.643698,6598.952202,6608.527173,6765.914014,6992.949003,6931.539000,7161.240869,6981.304105
1,Q2,7081.709669,6789.414723,6895.838545,7050.508939,7155.206969,7075.445000,7373.832383,7339.981903
2,Q3,7188.893596,6986.330400,7025.162033,7066.270724,7129.545542,7079.719000,7242.259002,7043.345329
3,Q4,7679.102564,7483.094657,7510.212380,7600.148193,7714.398010,7677.571000,7922.636157,7707.159526
4,Q5,1150.000000,995.000000,1083.000000,1465.000000,1079.000000,948.000000,1298.000000,1763.000000
...,...,...,...,...,...,...,...,...,...
23995,Q23996,2160.000000,2170.000000,2200.000000,2190.000000,2130.000000,2150.000000,2170.000000,2150.000000
23996,Q23997,10180.000000,10180.000000,10000.000000,10000.000000,10170.000000,10170.000000,10170.000000,10160.000000
23997,Q23998,10180.000000,10180.000000,10170.000000,10170.000000,10340.000000,10340.000000,10330.000000,10330.000000
23998,Q23999,1229.150601,1210.858657,1183.106934,1182.777862,1157.035629,1066.341436,1151.712205,1175.424226
23999,Q24000,4265.508188,4399.471170,4184.819516,4263.656055,4347.634172,4339.968392,3994.743188,4157.187970

In [18]:
quarterly_test = change_index(quarterly_test, "V1")
quarterly_test = quarterly_test.loc[m4_info[m4_info.SP=="Quarterly"].index,:]
quarterly_test.to_csv("./Dataset/Test/Quarterly-test.csv")

In [19]:
monthly_test = pd.read_csv("https://raw.githubusercontent.com/Mcompetitions/M4-methods/master/Dataset/Test/Monthly-test.csv")
monthly_test

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19
0,M1,8720.0,7790.0,4770.0,5060.0,4720.0,4450.0,5120.0,5960.0,6560.0,4900.0,4520.0,7370.0,9050.0,7780.0,5380.0,4700.0,4490.0,4010.0
1,M2,2090.0,2180.0,1760.0,2290.0,1500.0,1370.0,1810.0,1450.0,1370.0,1380.0,1710.0,2140.0,1870.0,1670.0,1800.0,1800.0,1790.0,1600.0
2,M3,13314.0,13659.0,13839.0,13693.0,13701.0,13881.0,13862.0,13774.0,13677.0,13944.0,14023.0,13793.0,13752.0,13818.0,13901.0,14057.0,14037.0,14158.0
3,M4,6505.0,6559.0,6526.0,6499.0,6495.0,6450.0,6458.0,6434.0,6445.0,6382.0,6390.0,6390.0,6353.0,6337.0,6280.0,6284.0,6397.0,6433.0
4,M5,4390.0,4470.0,4350.0,4420.0,4480.0,4440.0,4340.0,4280.0,4210.0,4280.0,4350.0,4290.0,4320.0,4370.0,4390.0,4480.0,4390.0,4380.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47995,M47996,4405.9,5119.8,5993.1,6150.6,6845.0,3812.0,4503.0,3898.0,3988.0,3553.0,2514.0,2102.0,2548.0,2601.0,2831.0,3239.0,3825.0,1535.0
47996,M47997,1009.7,902.6,896.5,905.1,884.2,623.0,695.7,707.1,742.3,698.9,656.7,672.0,703.0,619.7,615.1,653.5,663.7,400.5
47997,M47998,5050.0,5010.0,4960.0,4940.0,4970.0,5010.0,5100.0,5090.0,5030.0,4940.0,4860.0,4880.0,4830.0,5030.0,4900.0,4790.0,5260.0,5100.0
47998,M47999,4390.0,4380.0,4400.0,4380.0,4410.0,4380.0,4470.0,4460.0,4400.0,4460.0,4380.0,4440.0,4300.0,4360.0,4340.0,4390.0,4570.0,4480.0
47999,M48000,5090.0,5040.0,5020.0,5040.0,5020.0,5020.0,5060.0,5010.0,4990.0,4970.0,5020.0,5030.0,4980.0,5020.0,4950.0,4860.0,5140.0,5100.0

In [20]:
monthly_test = change_index(monthly_test, "V1")
monthly_test = monthly_test.loc[m4_info[m4_info.SP=="Monthly"].index,:]
monthly_test.to_csv("./Dataset/Test/Monthly-test.csv")

# Evaluate the submissions

In [21]:
trotta = filter_submissions(pd.read_csv("./Point Forecasts/submission-211.csv"))
alves = filter_submissions(pd.read_csv("./Point Forecasts/submission-244.csv"))
muk = filter_submissions(pd.read_csv("./Point Forecasts/submission-091.csv"))
rnn = filter_submissions(pd.read_csv("./Point Forecasts/submission-RNN.csv"))
pelka = filter_submissions(pd.read_csv("./Point Forecasts/submission-219.csv"))
mlp = filter_submissions(pd.read_csv("./Point Forecasts/submission-MLP.csv"))
theta = filter_submissions(pd.read_csv("./Point Forecasts/submission-Theta.csv"))
arima = filter_submissions(pd.read_csv("./Point Forecasts/submission-ARIMA.csv"))
damped = filter_submissions(pd.read_csv("./Point Forecasts/submission-Damped.csv"))
ets = filter_submissions(pd.read_csv("./Point Forecasts/submission-ETS.csv"))
holt = filter_submissions(pd.read_csv("./Point Forecasts/submission-Holt.csv"))
ses = filter_submissions(pd.read_csv("./Point Forecasts/submission-SES.csv"))

In [22]:
naive2 = filter_submissions(pd.read_csv("./Point Forecasts/submission-Naive2.csv"))

In [29]:
trotta_metrics = []
alves_metrics = []
muk_metrics = []
rnn_metrics = []
pelka_metrics = []
mlp_metrics = []
theta_metrics = []
arima_metrics = []
damped_metrics = []
ets_metrics = []
holt_metrics = []
ses_metrics = []

In [30]:
for freq, period_train, period_test in zip((1, 4, 12), (yearly_train, quarterly_train, monthly_train), (yearly_test, quarterly_test, monthly_test)):
    for index in period_train.index:
        train = period_train.loc[index,:].dropna().values
        test = period_test.loc[index,:].values

        naive2_z = naive2.loc[index,:].dropna().values
        
        trotta_metrics.append(all_metrics(train, test, trotta.loc[index,:].dropna().values, naive2_z, freq))
        alves_metrics.append(all_metrics(train, test, alves.loc[index,:].dropna().values, naive2_z, freq))
        muk_metrics.append(all_metrics(train, test, muk.loc[index,:].dropna().values, naive2_z, freq))
        rnn_metrics.append(all_metrics(train, test, rnn.loc[index,:].dropna().values, naive2_z, freq))
        pelka_metrics.append(all_metrics(train, test, pelka.loc[index,:].dropna().values, naive2_z, freq))
        mlp_metrics.append(all_metrics(train, test, mlp.loc[index,:].dropna().values, naive2_z, freq))
        theta_metrics.append(all_metrics(train, test, theta.loc[index,:].dropna().values, naive2_z, freq))
        arima_metrics.append(all_metrics(train, test, arima.loc[index,:].dropna().values, naive2_z, freq))
        damped_metrics.append(all_metrics(train, test, damped.loc[index,:].dropna().values, naive2_z, freq))
        ets_metrics.append(all_metrics(train, test, ets.loc[index,:].dropna().values, naive2_z, freq))
        holt_metrics.append(all_metrics(train, test, holt.loc[index,:].dropna().values, naive2_z, freq))
        ses_metrics.append(all_metrics(train, test, ses.loc[index,:].dropna().values, naive2_z, freq))

In [31]:
store_metrics(trotta_metrics, m4_info.index, "trotta")
store_metrics(alves_metrics, m4_info.index, "alves")
store_metrics(muk_metrics, m4_info.index, "muk")
store_metrics(rnn_metrics, m4_info.index, "rnn")
store_metrics(pelka_metrics, m4_info.index, "pelka")
store_metrics(mlp_metrics, m4_info.index, "mlp")
store_metrics(theta_metrics, m4_info.index, "theta")
store_metrics(arima_metrics, m4_info.index, "arima")
store_metrics(damped_metrics, m4_info.index, "damped")
store_metrics(ets_metrics, m4_info.index, "ets")
store_metrics(holt_metrics, m4_info.index, "holt")
store_metrics(ses_metrics, m4_info.index, "ses")